[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bamm"]
	path = bamm
	url = https://github.com/luismurao/bamm
[submodule "tenm"]
	path = tenm
	url = https://github.com/luismurao/tenm
